In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('../../AppliedAICourse/iris/iris.csv')
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [7]:
#create a dataframe either from file or dict in python
weather_data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temparature': [32, 35, 28, 24, 32, 31],
    'windspeed':[6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  event  temparature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [8]:
df.shape

(6, 4)

In [10]:
rows, cols = df.shape #df.shape will give result as tuple
cols

4

In [11]:
df.head()

        day  event  temparature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4

In [12]:
df.head(2)

        day  event  temparature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7

In [13]:
df.tail(2)

        day  event  temparature  windspeed
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [15]:
df[2:4] #slicing

        day event  temparature  windspeed
2  1/3/2017  Snow           28          2
3  1/4/2017  Snow           24          7

In [16]:
df.columns

Index([u'day', u'event', u'temparature', u'windspeed'], dtype='object')

In [17]:
df.day # (or) df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [18]:
type(df.event)

pandas.core.series.Series

In [21]:
df[['event', 'day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [23]:
df.temparature.max() #df['temparature'].max()

35

In [24]:
df.temparature.min()

24

In [26]:
df.describe() #printing statistics of data

       temparature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [27]:
df[df.temparature >=32]

        day  event  temparature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
4  1/5/2017   Rain           32          4

In [29]:
df[df.temparature == df.temparature.max()]

        day  event  temparature  windspeed
1  1/2/2017  Sunny           35          7

In [30]:
df[['day', 'temparature']][df.temparature == df.temparature.max()]

        day  temparature
1  1/2/2017           35

In [31]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [34]:
df.set_index('day', inplace=True)

KeyError: 'day'

In [36]:
df.reset_index(inplace=True)

In [37]:
df

        day  event  temparature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2