# Topics: 
1. Read csv
2. Write csv

In [6]:
import pandas as pd
df = pd.read_csv('iris.csv')
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [5]:
df = pd.read_csv('iris.csv', skiprows=1)
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [4]:
df = pd.read_csv('iris.csv', header=None)
df.head()

             0           1            2           3            4
0  SepalLength  SepalWidth  PetalLength  PetalWidth      Species
1          5.1         3.5          1.4         0.2  Iris-setosa
2          4.9           3          1.4         0.2  Iris-setosa
3          4.7         3.2          1.3         0.2  Iris-setosa
4          4.6         3.1          1.5         0.2  Iris-setosa

In [8]:
df = pd.read_csv('iris.csv', nrows=3) #number of rows want to read excluding header
df

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa

In [13]:
df.to_csv('new.csv') #when you open the new.csv you will see the index with previous df

In [15]:
df.to_csv('new1.csv', index=False) #when you open the new1.csv you will see the data without index

In [16]:
df.to_csv('new.csv', columns=['SepalLength', 'PetalLength']) # export only two columns

# Reading Excel file

In [20]:
edf = pd.read_excel('new.xlsx', 'new')
edf #install xlrd

   SepalLength  PetalLength
0          5.1          1.4
1          4.9          1.4
2          4.7          1.3